
<div class="wrapper">
            
            {{>member-sidebar}}
            {{#if body}}
            {{>member-body}}
            {{else}}
            {{#if contact}}
            {{>member-contact}}
            {{else}}
            {{#if getTime}}
            {{>member-time}}
            {{/if}}
            {{/if}}
            {{/if}}
        </div>
        
        
        <!-- Back to Top -->
        <a href="#" class="back-to-top"><i class="fa fa-angle-double-up"></i></a>