{{!-- <div class="container register">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                        <h3>My Tour Mate</h3>
                        <p>“A journey of a thousand miles begins with a single step” – Lao Tzu</p>
                        <a href="/"><input type="submit" name="" value="Back to home"/></a><br/>
                    </div>
                    <div class="col-md-9 register-right">
                        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Log in</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Sign up</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Login to members account</h3>
                                <form action="/members/login-guide" method="POST">
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        
                                        
                                        <div class="form-group">
                                            <input name="email" type="email" class="form-control" placeholder="Email *" value="" />
                                        </div>
                                        
                                        <div class="form-group">
                                            <input name="password" type="password" class="form-control" placeholder="Password *" value="" />
                                        </div>
                                        


                                    </div>
                                    <div class="col-md-6">
                                        
                                         
                                        
                                        
                                        <input type="submit" class="btnRegister"  value="Log in"/>
                                    </div>
                                </div>
                                </form>

                                
                            </div>
                            <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <h3  class="register-heading">Sign up as an Employee</h3>
                                <form action="/members/signup-guide" method="POST">
                                 
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input name="firstName" type="text" class="form-control" placeholder="First Name *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input name="email" type="email" class="form-control" placeholder="Your Email *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input name="memberPhone" type="text" minlength="10" maxlength="10" class="form-control" placeholder="Your Phone *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input name="password" type="password" class="form-control" placeholder="Password *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <select class="form-control" name="position">
                                                <option class="hidden"  selected disabled>Please select your position</option>
                                                <option>Travel guide</option>
                                                <option>Tour operator</option>
                                                <option>Transportation</option>
                                                <option>Ticketing Agent</option>
                                                <option>Transportation</option>
                                                <option>Transportation</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <input name="id" type="file" class="form-control" placeholder="Upload ID Here *" value="" />
                                            <span>*Please upload your ID here</span>
                                            {{!-- <span><a href=""></a></span> --}}
                                        </div>
                                        <div class="form-group">
                                            <input name="cv" type="file" class="form-control" placeholder="Upload resume Here *" value="" />
                                            <span>*Please upload your resume here</span>
                                        </div>
                                        
                                        
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input name="lastName" type="text" class="form-control" placeholder="Last Name *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <div class="maxl">
                                                <label class="radio inline"> 
                                                    <input type="radio" name="gender" value="male" checked>
                                                    <span> Male </span> 
                                                </label>
                                                <label class="radio inline"> 
                                                    <input type="radio" name="gender" value="female">
                                                    <span>Female </span> 
                                                </label>                     
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" minlength="1" maxlength="3" name="memberAge" class="form-control" placeholder="Your Age *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input name="cPassword" type="password" class="form-control"  placeholder="Confirm Password *" value="" />
                                        </div>
                                        
                                        <div class="form-group">
                                            <select class="form-control" name="idType">
                                                <option class="hidden"  selected disabled>Identity type</option>
                                                <option>Aadhar card</option>
                                                <option>Driving Licence</option>
                                                <option>Passport</option>
                                                <option>Voter ID</option>
                                                <option>School Certificate</option>
                                                <option>Others</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <input name="place" type="text" class="form-control"  placeholder="Your Place *" value="" />
                                        </div>
                                        
                                        <input type="submit" class="btnRegister"  value="Register"/>
                                    </div>
                                </div>
                                </form>
                            </div>
                            
                        </div>
                    </div>
                </div>

            </div>
