

<div class="card" id="addTourist">
    <h1 class="text-center pt-3">Add new Tourist</h1>
                <div class="card-body d-flex">
                  <h4 class="card-title">Add tourist details to create a new user account</h4>
                </div>
                <div
                  class="comment-widgets scrollable"
                  style="max-height: 530px"
                >
                  <div class="d-flex flex-row comment-row mt-0">

                         <!-- Contact Start -->
            <div class="container bg-white pt-3 py-5">
                <div class="col-md-12 pb-5">
                    <div class="contact-form">
                        <div id="success"></div>
                     <form action="/signup" method="POST">
                                 
                                    <div class="row register-form">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input name="firstName" type="text" class="form-control" placeholder="First Name *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input name="email" type="email" class="form-control" placeholder="Your Email *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input name="touristPhone" type="text" minlength="10" maxlength="10" class="form-control" placeholder="Your Phone *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input name="password" type="password" class="form-control" placeholder="Password *" value="" />
                                        </div>
                                        
                                        
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input name="lastName" type="text" class="form-control" placeholder="Last Name *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <div class="maxl">
                                                <label class="radio inline"> 
                                                    <input type="radio" name="gender" value="male" checked>
                                                    <span> Male </span> 
                                                </label>
                                                <label class="radio inline"> 
                                                    <input type="radio" name="gender" value="female">
                                                    <span>Female </span> 
                                                </label>                     
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" minlength="1" maxlength="3" name="touristAge" class="form-control" placeholder="Your Age *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input name="cPassword" type="password" class="form-control"  placeholder="Confirm Password *" value="" />
                                        </div>
                                        
                                       
                                    </div>
                                     <input type="submit" class="btn btn-info ms-auto mt-5"  value="Register"/>
                                </div>
                                </form>

                    </div>
                </div>
            </div>
                  </div>
   
                  <!-- Comment Row -->
                  
                </div>
              </div>
              




              
              