 {{!-- feeedbak --}}

    {{#if isFeedback}} <!--Modal Launch Button-->
<button type="button" class="btn btn-info btn-lg openmodal" data-toggle="modal" data-target="#myModal">Write feedback</button>
{{/if}}
<!--Division for Modal-->
<div id="myModal" class="modal fade" role="dialog" style="width: 100%;">
    <!--Modal-->
    <div class="modal-dialog">
        <!--Modal Content-->
        <div class="modal-content">
            <!-- Modal Header-->
            <div class="modal-header">
                <h3>Feedback Request</h3>
                <!--Close/Cross Button--> <button type="button" class="close" data-dismiss="modal" style="color: white;">&times;</button>
            </div> <!-- Modal Body-->
            <div class="modal-body text-center"> <i class="far fa-file-alt fa-4x mb-3 animated rotateIn iconOne"></i>
                <h3>Your opinion matters</h3>
                <h5>Help me to improve my service? <strong>Give us your feedback.</strong></h5>
                <hr>                
            </div> <!-- Radio Buttons for Rating-->
            <!--Text Message-->
            <form action="/member/feedback/{{userApi._id}}" method="POST">
            <div class="text-center">
                <h4>What could we improve?</h4>
            </div> 
            <div class="text-center" style="width: 100%;">
                <textarea style="width: 100%; max-width: 100%; margin:10px" type="textarea" name="feedback" placeholder="Your Feedback" rows="5" id="feedbackMsg"></textarea> <!-- Modal Footer-->
            </div>
            <hr>
             <div class="rating mx-5 mb-5" >
            
            <input id="star5" name="star" type="radio" value="5" class="radio-btn hide" />
            <label for="star5" >☆</label>
            <input id="star4" name="star" type="radio" value="4" class="radio-btn hide" />
            <label for="star4" >☆</label>
            <input id="star3" name="star" type="radio" value="3" class="radio-btn hide" />
            <label for="star3" >☆</label>
            <input id="star2" name="star" type="radio" value="2" class="radio-btn hide" />
            <label for="star2" >☆</label>
            <input id="star1" name="star" type="radio" value="1" class="radio-btn hide" />
            <label for="star1" >☆</label>
            <div class="clear"></div>
        </div>
            <div class="modal-footer"> 
                <button type="submit" class="btn btn-primary" id="anger">Submit <i class="fa fa-paper-plane"></i> </button> 
                <a id="anger" href="" class="btn btn-outline-primary" data-dismiss="modal">Cancel</a> 
           </div>
       </form>
        </div>
    </div>
</div>

                   {{!-- /feedback --}}