<footer class="ftco-footer bg-bottom ftco-no-pt" style="background-image: url(images/bg_3.jpg);">
	<div class="container">
		<div class="row mb-5">
			<div class="col-md pt-5">
				<div class="ftco-footer-widget pt-md-5 mb-4">
					<h2 class="ftco-heading-2">About</h2>
					<p>My tour mate is a platform where you can find Tourist guides, Travel destinations, and Hotels</p>

				</div>
			</div>
			<div class="col-md pt-5 border-left">
				<div class="ftco-footer-widget pt-md-5 mb-4 ml-md-5">
					<h2 class="ftco-heading-2">Navigation</h2>
					<ul class="list-unstyled">
						<li><a href="/" class="py-2 d-block">Home</a></li>
						<li><a href="/about" class="py-2 d-block">About</a></li>
						<li><a href="/destination" class="py-2 d-block">Destination</a></li>
						<li><a href="/hotel" class="py-2 d-block">Hotels</a></li>
						<li><a href="/blog" class="py-2 d-block">Blog</a></li>
						<li><a href="/contact" class="py-2 d-block">Contact</a></li>
						<li><a href="/loginMain" class="py-2 d-block">Login</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md pt-5 border-left">
				<div class="ftco-footer-widget pt-md-5 mb-4">
					<h2 class="ftco-heading-2">Have a Questions?</h2>
					<form action="/contact" method="POST" class="bg-light p-5 contact-form">
						<div class="form-group">
							<input type="text" name="name" class="form-control" placeholder="Your Name">
						</div>
						<div class="form-group">
							<input type="text" name="email" class="form-control" placeholder="Your Email">
						</div>
						<div class="form-group">
							<input type="text" name="subject" class="form-control" placeholder="Subject">
						</div>
						<div class="form-group">
							<textarea name="message" id="" cols="30" rows="4" class="form-control"
								placeholder="Message"></textarea>
						</div>
						<div class="form-group">
							<input type="submit" value="Send Message" class="btn btn-outline-primary py-3 px-5">
						</div>
						
					</form>
					
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">

				<p>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;
					<script>document.write(new Date().getFullYear());</script>mytourmate All rights reserved
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</p>
			</div>
		</div>
	</div>
</footer>