	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
		<div class="container">
			<a class="navbar-brand" href="index.html">Mytourmate<span>Just beyond the boundaries</span></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span> Menu
			</button>

			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a href="/" class="nav-link">Member</a></li>
					<li class="nav-item"><a href="/about" class="nav-link">About</a></li>
					<li class="nav-item"><a href="/destination" class="nav-link">Destinations</a></li>
					<li class="nav-item"><a href="/hotel" class="nav-link">Hotel</a></li>
					<li class="nav-item"><a href="/blog" class="nav-link">Blog</a></li>
					<li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>

              {{#if users}}
                    <li class="nav-item"><a href="/members/dashboard" class="nav-link">{{users.firstName}}</a></li>
                    <li class="nav-item"><a href="/members/logout" class="nav-link">Logout</a></li>
               {{else}}
                    <li class="nav-item"><a href="/loginMain" class="nav-link">Login</a></li>
                {{/if}}
				</ul>
			</div>
		</div>
	</nav>
	<!-- END nav -->