{{!-- feedback --}}
<div class="demo">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="testimonial-slider" class="owl-carousel">
                    <div class="testimonial">
                        <div class="testimonial-content">
                            <div class="testimonial-icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <p class="description">
                                My tour mate is a greate aproach and one of the great platform to find tourist guides all over the India. I appreciate your effort and all the very best.
                            </p>
                        </div>
                        <h3 class="title">Ashwin kumar</h3>
                        <span class="post">Ministry of tourism</span>
                    </div>
                    <div class="testimonial">
                        <div class="testimonial-content">
                            <div class="testimonial-icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <p class="description">
                               Travel made me taught lots of lessons and travelling without knowing their native language is one worst part. This website will make you to find best of travel.
                            </p>
                        </div>
                        <h3 class="title">Anil krishna</h3>
                        <span class="post">MTTM, AMITY Univercity, Noida</span>
                    </div>
                    <div class="testimonial">
                        <div class="testimonial-content">
                            <div class="testimonial-icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <p class="description">
                                        “Why do you go away? So that you can come back. So that you can see the place you came from with new eyes and extra colors. And the people there see you differently, too.
                            </p>
                        </div>
                        <h3 class="title">Terry Pratchett</h3>
                        <span class="post">Writer</span>
                    </div>
 
                    <div class="testimonial">
                        <div class="testimonial-content">
                            <div class="testimonial-icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <p class="description">
                                 “Travel isn’t always pretty. It isn’t always comfortable. Sometimes it hurts, it even breaks your heart. But that’s okay. The journey changes you; it should change you. It leaves marks on your memory, on your consciousness, on your heart, and on your body. You take something with you. Hopefully, you leave something good behind.” 
                            </p>
                        </div>
                        <h3 class="title">Anthony Bourdain</h3>
                        <span class="post">Travel documentarian</span>
                    </div>
 
                    <div class="testimonial">
                        <div class="testimonial-content">
                            <div class="testimonial-icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <p class="description">
                               “And then there is the most dangerous risk of all — the risk of spending your life not doing what you want on the bet you can buy yourself the freedom to do it later.” 
                            </p>
                        </div>
                        <h3 class="title">Randy Komisar</h3>
                        <span class="post">co-founder of Claris Corp</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
	{{!-- /feed --}}