<div class="pt-5 mt-5 mb-5 pb-5" >
<div class="container d-flex justify-content-center align-items-center pt-5 mt-5 mb-5">
    <div class="card" id="login-card">
        <div class="p-3 border-bottom d-flex align-items-center justify-content-center">
            <h5>Enter the otp</h5>
        </div>
        <div class="p-3 px-4 py-4 border-bottom">
            <form action="/mobile/verify" method="POST">
             <input name="otp" type="number" class="form-control mb-2" placeholder="Enter Mobile" />
            
                <button type="submit" class="btn btn-danger btn-block continue">Submit</button>
           
            </form>
        </div>
        <div class="p-3 d-flex flex-row justify-content-center align-items-center member"> <span>Not a member? </span> <a href="/signup" class="text-decoration-none ml-2">SIGNUP</a> </div>
    </div>
</div>
</div>