  <section class="ftco-section" id="login">
		<div class="container">
			
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
						<div class="img" style="background-image: url(/images/bg.webp);">
			      </div>
						<div class="login-wrap p-4 p-md-5">
			      	<div class="d-flex">
			      		<div class="w-100">
			      			<h3 class="mb-4">Please enter registered Email here</h3>
			      		</div>
								
			          	</div>
				  <form action="/password-reset?user=true" method="POST" class="signin-form" id="form">
				       {{#if message}}
					   <p style="color: red;">{{message}}&nbsp;| <a href="/loginMain">Signup</a></p>
					   {{/if}}
			      		<div class="form-group mb-3">
			      			<label class="label" for="name">Email</label>
			      			<input name="email" id="username" type="text" class="form-control" placeholder="Please enter your registered email address" required>
                              <span id="errorEmail" style="color: red;"></span>
			      		</div>
		            <div class="form-group">
		            	<button type="submit" class="form-control btn btn-primary rounded submit px-3">Get password reset link</button>
		            </div>
                    <hr>
                    {{!-- <div class="form-group">
		            	<a href="/mobile"><button type="button" class="form-control btn btn-secondary rounded submit px-3">OTP Log In</button></a>
		            </div> --}}
		          </form>
		          <p class="text-center">Not a member? <a href="/loginMain">Sign up</a></p>
		        </div>
		      </div>
				</div>
			</div>
		</div>
	</section>